@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #08080C;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  min-height: 100%;
}

.Toastify__toast-container {
  z-index: 99999 !important;
}

.Toastify__toast-container--top-right {
  top: 4.75rem !important;
  right: 1.25rem !important;
  max-width: 340px !important;
  width: auto !important;
}


